# results directories
results/
# default nextflow working directory
work/
# hidden nextflow directories
.nextflow/*
# hidden nextflow logs
*.nextflow.log*
# data directory
data/
# parameters file
test-samples.csv