# results directories
*_results/
# default nextflow working directory
work/
# hidden nextflow files/directories
.nextflow*
# non-hidden nextflow files/directory
nextflow*
# data directory
data/
